@import '../variables/variables.scss';

@import '../mixins/mixins.scss';

body {
    color: $font-color;
    margin: 0;
    padding: 0;
    .header {
        background-color: #2d3039;
        justify-content: space-between;
        padding-right: 20px;
        @media all and (min-width: $break-tablet) {
            max-height: 65px;
        }
        &__menu {
            list-style-type: none;
            margin-bottom: 0;
        }
        &__buttons {
            border-bottom : 5px solid transparent;
            color: #fff;
            font-size: 17px;
            line-height: 65px;
            margin-bottom: 0;
            text-align: center;
            transition: all 0.5s;
            width: 150px;
            @media all and (max-width: $break-tablet - 1) {
                width: 100%;
            }
            &:hover {
                background-color: #5a6072;
                border-bottom: 5px solid #0000e6;
                cursor: pointer;
            }
        }
    }
}