//Variables for borders

$side-gray: 1px solid #ccc;

//Variables for font families

$arial: Arial, Helvetica, sans-serif;

$gill-sans: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$lucida: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$times: 'Times New Roman', Times, serif;

//variables for colors

$font-color: #444;

$black: #222;

$blue: rgb(12, 12, 199);

$red: #c0002b;

$green-dark: #0a493e;

$green-light: #317c2e;

$white: #ffffff;

//device breakpoints

$break-phone: 480px;

$break-phone-landscape: 600px;

$break-tablet: 768px;

$break-small-desktop: 992px;

$break-medium-desktop: 1200px;

$break-large-desktop: 1400px;

$break-superwide: 1600px;