body {
    margin: 0;
    padding: 0;

    .box {
        color: #fff;
        display: flex;
        flex-flow: row wrap;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        justify-content: center;
        margin: 40px auto 0;
        max-width: 960px;
        width: 100%;

        &-item {
            flex-basis: auto;
            flex-grow: 1;
            text-align: center;
        }
        &-item-1 {
            background-color: #087505;
        }
        &-item-2 {
            background-color: #e06b1c;
        }
        &-item-3 {
            background-color: #71066a;
        }
        &-item-4 {
            background-color: #223abc;
        }
    }
}