body {
  margin: 0;
  padding: 0; }

.box {
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  font-family: Tahoma, sans-serif;
  justify-content: center;
  margin: 25px auto 0;
  max-width: 960px;
  width: 100%; }

.box-item {
  flex-basis: auto;
  flex-grow: 1;
  font-size: 14px;
  text-align: center; }

.box-item-1 {
  background-color: #087505; }

.box-item-2 {
  background-color: #e06b1c; }

.box-item-3 {
  background-color: #71066a; }

.box-item-4 {
  background-color: #223abc; }
