body {
  margin: 0;
  padding: 0; }

.box {
  align-items: flex-end;
  border: 1px solid #000;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: space-around; }
  .box-item {
    text-align: center; }
  .box-item-1 {
    background-color: #087505;
    flex-grow: 2;
    padding: 0; }
  .box-item-2 {
    background-color: #e06b1c;
    flex-grow: 0;
    padding: 1rem; }
  .box-item-3 {
    background-color: #71066a;
    flex-grow: 3;
    padding: 2rem; }
