@import '../../mixins/mixins.scss';

@import '../../variables/variables.scss';

body {
    @include background(fixed, url('../../../images/cards/destinations/background.jpg'), no-repeat, cover);
    margin: 0;
    padding: 0;
}

.main {
    margin: 30px auto;
    max-width: 1200px;
}