@import 'variables/variables.scss';
@import 'mixins/mixins.scss';

body {
    margin: 0;
    padding: 0;

    .main {
        max-width: 1200px;
        margin: 50px auto;
        width: 100%;
    }
}