@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  margin: 0;
  padding: 0; }

.main {
  max-width: 1200px;
  margin: 50px auto;
  width: 100%; }

#nav-menu {
  font-family: 'Montserrat', sans-serif;
  height: 75px;
  width: 100%; }

.menu-list {
  align-items: center;
  display: flex;
  height: 75px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 80%;
  padding-left: 0; }
  .menu-list__item {
    font-size: 14px;
    letter-spacing: 1px;
    list-style-type: none; }
    .menu-list__item a {
      color: #111;
      text-decoration: none; }
