@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$blue: #00BCD4;
$white: #fff;

body {
    margin: 0;
    padding: 0;
}

.main {
    max-width: 1200px;
    margin: 50px auto;
    width: 100%;
}

#nav-menu {
    background-color: $white;
    border-bottom: 4px solid $blue;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    height: auto;
    width: 100%;
}

.logo {
    align-self: center;
    max-width: 120px;
}

.menu-list {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-around;
    padding-left: 0;

    @media all and (min-width: 960px) {
        width: 880px;
    }

    @media all and (min-width: 1200px) {
        width: 1080px;
    }

    &__item {
        font-size: 14px;
        letter-spacing: 1px;
        list-style-type: none;
        padding: 15px;

        a {
            color: #333;
            font-weight: bold;
            position: relative;
            text-decoration: none;

            &:after {
                background-color: $blue;
                bottom: -6px;
                content: '';
                height: 4px;
                left: 0;
                position: absolute;
                transition: all .5s ease-in;
                width: 0;
            }

            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }
    }
}