@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$blue: #00BCD4;
$font: #333333;
$white: #ffffff;

body {
    margin: 0;
    padding: 0;
    .main {
        max-width: 1200px;
        margin: 50px auto;
        width: 100%;
    }
    #nav-menu {
        background-color: $white;
        border-bottom: 2px solid $blue;
        display: flex;
        font-family: 'Montserrat', sans-serif;
        height: auto;
        padding: 0 20px;
        width: 100%;
    }
    .logo {
        display: block;
        margin: 10px auto;
        max-width: 150px;
    }
    .menu-list {
        align-items: flex-end;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 15px auto 5px;
        max-width: 80%;
        padding-left: 0;

        &__item {
            font-size: 13px;
            letter-spacing: 1px;
            list-style-type: none;
            padding: 13px 0;
            a {
                color: $font;
                font-weight: bold;
                position: relative;
                text-decoration: none;
                text-transform: uppercase;

                @media all and (min-width: 992px) {
                    &:after {
                        background-color: $blue;
                        bottom: -8px;
                        content: '';
                        height: 4px;
                        left: 0;
                        position: absolute;
                        transition: all .5s ease-in;
                        width: 0;
                    }
                }
                &:hover {
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }
}