@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  margin: 0;
  padding: 0; }

.main {
  max-width: 1200px;
  margin: 50px auto;
  width: 100%; }

#nav-menu {
  background-color: #fff;
  border-bottom: 2px solid #00BCD4;
  font-family: 'Montserrat', sans-serif;
  height: auto;
  width: 100%; }

.aruba-logo {
  display: block;
  margin: 10px auto;
  max-width: 150px; }

.menu-list {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
  margin: 15px auto 5px;
  padding-left: 0;
  width: 100%; }
  @media all and (min-width: 960px) {
    .menu-list {
      width: 90%; } }
  .menu-list__item {
    font-size: 14px;
    letter-spacing: 1px;
    list-style-type: none;
    padding: 15px; }
    .menu-list__item a {
      color: #333;
      font-weight: bold;
      position: relative;
      text-decoration: none;
      text-transform: uppercase; }
      .menu-list__item a:after {
        background-color: #00BCD4;
        bottom: -6px;
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        transition: all .5s ease-in;
        width: 0; }
      .menu-list__item a:hover:after {
        width: 100%; }
