body {
    margin: 0;
    padding: 0;
}

.box {
    border: 1px solid #444;
    display: grid;
    margin: 25px auto;
    width: 600px;

    &-item {
        color: #fff;
        padding: 1.5rem;
        text-align: center;
    }

    &-item-1 {
        background-color: #cb2000;
        grid-column: 1 / 2;

    }
    &-item-2 {
        background-color: #ffe143;
        grid-column: 2 / 3;

    }
    &-item-3 {
        background-color: #10108e;
        grid-column: 3 / 2;
    }
}