body {
    margin: 0;
    padding: 0;
}

.box {
    border: 1px solid #444;
    display: grid;
    margin: 25px auto;
    width: 960px;

    &-item {
        color: #fff;
        height: 150px;
        text-align: center;
        width: auto;
    }

    &-item-1 {
        background-color: #cb2000;
        grid-column: span 2 / 2;
        grid-row: 1 / 1;
    }
    &-item-2 {
        background-color: #ffe143;
        grid-column: span 3 / 3;
        grid-row: 3 / 3;
    }
    &-item-3 {
        background-color: #10108e;
        grid-column: 3 / 3;
        grid-row: span 3 / -1;
    }
}