.box {
    width: 150px;
    height: 150px;
    background-color: #cb2000;

    &-1 {
        transition: background-color 2s ease-out;

        &:hover {
            background-color: green;
            cursor: pointer;
        }
    }
}