.box {
  width: 150px;
  height: 150px;
  background-color: #cb2000; }
  .box-1 {
    transition: background-color 2s ease-out; }
    .box-1:hover {
      background-color: green;
      cursor: pointer; }
