.main {
    align-content: space-between;
    display: flex;
    flex-flow: row wrap;
    height: 365px;
    justify-content: space-between;
    margin: 50px auto 0;
    width: 750px;

    .box {
        align-items: center;
        background-color: #cb2000;
        color: #fff;
        display: flex;
        height: 170px;
        justify-content: center;
        text-align: center;
        width: 170px;

        &:hover {
            cursor: pointer;
        }

        &-1 {
            transition: background-color 1s ease-out;
            &:hover {
                background-color: green;
            }
        }

        &-2 {
            transition: all .5s linear;
            &:hover {
                border-radius: 75%;
            }
        }

        &-3 {
            transition: all .5s linear;
            &:hover {
                box-shadow: 7px 7px 10px coral;
            }
        }

        &-4 {
            transition: all 1.75s ease;
            &:hover {
                transform: rotate(360deg);
            }
        }

        &-5 {
            transition: all 1s ease;
            &:hover {
                border-bottom-left-radius: 50%;
                border-top-right-radius: 50%;
            }
        }

        &-6 {
            transition: all .5s linear;
            &:hover {
                font-size: 21px;
                font-weight: bold;
            }
        }

        &-7 {
            transition: all 1.5s linear;
            &:hover {
                opacity: 0.2;
            }
        }

        &-8 {
            transition: all .5s linear;
            &:hover {
                box-shadow:inset 0px 0px 0px 10px rgb(199, 87, 87);
            }
        }
    }
}