.main {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0;
  max-width: 800px; }

.box {
  width: 150px;
  height: 150px;
  background-color: #cb2000; }
  .box:hover {
    cursor: pointer; }
  .box-1 {
    transition: background-color 1s ease-out; }
    .box-1:hover {
      background-color: green; }
  .box-2 {
    transition: all .5s linear; }
    .box-2:hover {
      border-radius: 75%; }
