#slide {
  position: fixed;
  background: #999;
  width: 200px; 
  left: -200px;
  height: 100px;
  transition: left 0.4s ease-in-out;
//   -o-transition: left 0.4s ease-in-out;
//   -ms-transition: left 0.4s ease-in-out;
//   -moz-transition: left 0.4s ease-in-out;
//   -webkit-transition: left 0.4s ease-in-out;
}
#toggle {
  position: absolute;
  left: 200px;
  padding: 10px;
  background: #ccc; 
}
.box {
  padding: 20px;
}
#slide:hover{
  left: 0px;
}