.slide {
    position: fixed;
    background: #999;
    width: 200px;
    left: -200px;
    height: 44px;
    transition: left .65s ease-in-out;
}

.toggle {
    position: absolute;
    left: 200px;
    padding: 10px;
    background: #ccc;
}

.box {
    line-height: 44px;
    text-align: center;
}

.slide:hover {
    left: 0px;
}