@import '../variables/variables.scss';
@import '../mixins/mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background: url('../../images/cards/dorindos/background.jpg');
    margin: 0;
    padding: 0;
}

.content {
    max-width: 100%;

    .card {
        display: flex;
        justify-content: center;
        max-width: 900px;

        &__text {
            padding: 2rem;

            h2 {
                font-family: 'Bree Serif', serif;
            }
            p {
                font-family: 'Raleway', serif;
                font-size: 15px;
            }
        }
        &__img {
            img {
                width: auto;
            }
        }
    }
}