@import '../variables/variables.scss';
@import '../mixins/mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background-color: #011100;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 100%;

    @media all and (max-width: $break-phone - 1) {
        flex-direction: column;
    }

    .card {
        &__text {
            padding: 2rem;

            h2 {
                font-family: 'Bree Serif', serif;
            }
            p {
                font-family: 'Raleway', serif;
                font-size: 15px;
            }
        }
        &__img {
            img {
                width: 100%;
            }
        }
    }
}