@import '../variables/variables.scss';
@import '../mixins/mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background: url('../../images/cards/dorindos/background.jpg');
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    justify-content: center;
    max-width: 100%;

    .card {
        background-color: #c8972b;
        border-radius: 0;
        display: flex;
        flex-direction: row;
        max-width: 900px;

        &__text {
            padding: 2rem 1rem;

            h2 {
                color: #fff;
                font-family: 'Bree Serif', serif;
                text-align: center;
                text-transform: uppercase;
            }
            p {
                font-family: 'Raleway', serif;
                font-size: 15px;
            }
        }
        &__img {

            img {
                width: 400px;
            }
        }
    }
}