body {
  background-color: #011100; }

.content {
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  justify-content: space-between;
  max-width: 1280px; }
  .content-item {
    align-items: flex-end;
    display: flex;
    height: 400px;
    justify-content: center;
    width: 100%; }
    .content-item p {
      background: rgba(189, 189, 189, 0.75);
      color: #fff;
      font-size: 26px;
      font-weight: 400;
      margin-bottom: 0;
      opacity: .5;
      padding: 10px 0;
      text-align: center;
      text-transform: uppercase;
      transition: all .5s ease-in;
      width: 100%; }
      .content-item p:hover {
        background: rgba(189, 189, 189, 0.25);
        cursor: pointer;
        opacity: 1; }
    .content-item.item-beers {
      background: url("../../images/cards/wagamama/beers.jpg") no-repeat;
      background-size: 100%; }
    .content-item.item-curry {
      background: url("../../images/cards/wagamama/curry.jpg") no-repeat;
      background-size: 100%; }
    .content-item.item-desserts {
      background: url("../../images/cards/wagamama/desserts.png") no-repeat;
      background-size: 100%; }
