body {
  background-color: #011100;
  margin: 0;
  padding: 0; }

.content {
  display: flex;
  flex-flow: row wrap;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  justify-content: center;
  max-width: 100%; }
  @media all and (max-width: 479px) {
    .content {
      flex-direction: column; } }
  .content-item {
    align-items: flex-end;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 400px;
    width: 100%; }
    @media all and (min-width: 992px) {
      .content-item {
        max-width: 33.33%; } }
    @media all and (max-width: 991px) {
      .content-item {
        border-bottom: 1px solid #fff;
        width: 50%; } }
    @media all and (max-width: 599px) {
      .content-item {
        max-width: 480px;
        width: 100%; } }
    @media all and (min-width: 600px) and (max-width: 991px) {
      .content-item:nth-of-type(odd) {
        border-right: 1px solid #fff; } }
    @media all and (min-width: 600px) and (max-width: 991px) {
      .content-item:nth-of-type(5), .content-item:nth-of-type(6) {
        border-bottom: 0; } }
    @media all and (max-width: 599px) {
      .content-item:nth-of-type(5), .content-item:nth-of-type(6) {
        border-bottom: 2px solid #fff; } }
    .content-item p {
      background: rgba(236, 83, 83, 0.9);
      color: #fff;
      font-size: 25px;
      font-weight: 400;
      letter-spacing: 1px;
      margin-bottom: 0;
      padding: 7px 20px;
      text-align: center;
      text-transform: uppercase;
      transition: all .5s ease-in;
      width: 100%; }
    .content-item.item-beers {
      background: url("../../images/cards/wagamama/beers.jpg") no-repeat; }
    .content-item.item-curry {
      background: url("../../images/cards/wagamama/curry.jpg") no-repeat; }
    .content-item.item-desserts {
      background: url("../../images/cards/wagamama/desserts.png") no-repeat; }
    .content-item.item-sides {
      background: url("../../images/cards/wagamama/sides.png") no-repeat; }
    .content-item.item-ramen {
      background: url("../../images/cards/wagamama/ramen.jpg") no-repeat; }
    .content-item.item-vegan {
      background: url("../../images/cards/wagamama/vegan.jpg") no-repeat; }
    .content-item:hover {
      cursor: pointer; }
      .content-item:hover p {
        background: rgba(233, 18, 18, 0.9); }
