@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

body {
    background-color: #011100;
    margin: 0;
    padding: 0;

    .content {
        display: flex;
        flex-flow: row wrap;
        flex-direction: row;
        font-family: $lucida;
        justify-content: center;
        max-width: 100%;

        &-item {
            align-items: flex-end;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            min-height: 400px;
            width: 100%;
    
            @media all and (min-width: $break-small-desktop) {
                max-width: 31%;
            }
            @media all and (max-width: $break-small-desktop - 1) {
                border-bottom: 1px solid #fff;
                width: 50%;
            }
            @media all and (max-width: $break-phone-landscape - 1) {
                max-width: 480px;
                width: 100%;
            }

            &:nth-of-type(odd) {
                @media all and (min-width: $break-phone-landscape) and (max-width: $break-small-desktop - 1) {
                    border-right: 1px solid #fff;
                }
            }

            &:nth-of-type(5),
            &:nth-of-type(6) {
                @media all and (min-width: $break-phone-landscape) and (max-width: $break-small-desktop - 1) {
                    border-bottom: 0;
                }

                @media all and (max-width: $break-phone-landscape - 1) {
                    border-bottom: 2px solid #fff;
                }
            }

            p {
                background: #df2727;
                color: #fff;
                font-size: 21px;
                font-weight: 400;
                letter-spacing: 1px;
                margin: 0 auto;
                max-width: 250px;
                opacity: .5;
                padding: 8px 20px;
                text-align: center;
                text-transform: uppercase;
                transition: all .5s ease-in;
                width: 100%;
            }

            &.item-beers {
                background-image: url('../../images/cards/wagamama/beers.jpg');
            }
            &.item-curry {
                background-image: url('../../images/cards/wagamama/curry.jpg');
            }
            &.item-desserts {
                background-image: url('../../images/cards/wagamama/desserts.png');
            }
            &.item-sides {
                background-image: url('../../images/cards/wagamama/sides.png');
            }
            &.item-ramen {
                background-image: url('../../images/cards/wagamama/ramen.jpg');
            }
            &.item-vegan {
                background-image: url('../../images/cards/wagamama/vegan.jpg');
            }

            &:hover {
                cursor: pointer;

                p {
                    background: #df2727;
                    opacity: 1;
                }
            }
        }
    }
}