@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

body {
    background-color: #011100;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-flow: row wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 100%;

    @media all and (max-width: $break-phone - 1) {
        flex-direction: column;
    }

    &-item {
        align-items: flex-end;
        display: flex;
        height: 400px;
        justify-content: center;
        width: 33.33%;

        @media all and (max-width: $break-phone-landscape - 1) {
            width: 50%;
        }
        @media all and (max-width: $break-phone - 1) {
            width: 100%;
        }

        p {
            background: rgba(200, 200, 200, .75);
            color: #fff;
            font-size: 26px;
            font-weight: 400;
            margin-bottom: 0;
            opacity: .75;
            padding: 10px 50px;
            text-align: center;
            text-transform: uppercase;
            transition: all .5s ease-in;
        }

        &.item-beers {
            background: url('../../images/cards/wagamama/beers.jpg') no-repeat;
            background-size: cover;
        }
        &.item-curry {
            background: url('../../images/cards/wagamama/curry.jpg') no-repeat;
            background-size: cover;
        }
        &.item-desserts {
            background: url('../../images/cards/wagamama/desserts.png') no-repeat;
            background-size: cover;
        }
        &.item-sides {
            background: url('../../images/cards/wagamama/sides.png') no-repeat;
            background-size: cover;
        }
        &.item-ramen {
            background: url('../../images/cards/wagamama/ramen.jpg') no-repeat;
            background-size: cover;
        }
        &.item-vegan {
            background: url('../../images/cards/wagamama/vegan.jpg') no-repeat;
            background-size: cover;
        }

         &:hover {
            cursor: pointer;

             p {
                background: rgba(75, 75, 75, .9);
                opacity: 1;
             }
        }
    }
}