@import '../mixins/mixins.scss';
@import '../variables/variables.scss';

body {
    margin: 0;
    padding: 0;

    .card-container {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        max-width: 960px;
    }

    .card {
        border: 1px solid #ccc;
        border-radius: 8px;
        max-width: 320px;
        padding: 0;

        &__image {
            width: 100%;
        }

        &__content {
            padding: 15px 10px;
        }

        &__link {
            color: #444;
            text-decoration: none;
        }

        &__title {
            font-size: 16px;
        }

        &__text,
        &__cta {
            font-size: 14px;
        }

        &__cta {
            text-align: center;
            text-decoration: none;
        }
    }
}