@import '../mixins/mixins.scss';
@import '../variables/variables.scss';

body {
    margin: 0;
    padding: 0;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
    max-width: 960px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 320px;
    padding: 0;

    &__image{

    }

    &__title {

    }

    &__text {
        padding: 10px;
    }

    &__link {
        color:#333;
        text-decoration: none;
    }

    &__cta {

    }
}