body {
  margin: 0;
  padding: 0; }

.card-container {
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
  max-width: 960px; }

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 320px;
  padding: 0; }
  .card__text {
    padding: 10px; }
  .card__link {
    color: #333;
    text-decoration: none; }
