@import '../variables/variables.scss';

body {
    animation: BgAnimation 4s infinite;
}

@keyframes BgAnimation {
    0% {
        background-color: $red;
    }
    25% {
        background-color: $green-dark;
    }
    50% {
        background-color: $red;
    }
    100% {
        background-color: $green-dark;
    }
}