@import '../variables/variables.scss';

body {
    animation: bgAnimate 7s infinite;
}

@keyframes bgAnimate {
    0% {
        background-color: $red;
    }
    25% {
        background-color: $green-dark;
    }
    50% {
        background-color: $red;
    }
    100% {
        background-color: $green-dark;
    }
}