@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

body {
    animation: changeBg 6s infinite;
}

@keyframes changeBg {
    0% {
        background-color: $red;
    }
    25% {
        background-color: $green-dark;
    }
    50% {
        background-color: $red;
    }
    100% {
        background-color: $green-dark;
    }
}