@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.triangles-container>div {
    height: 0;
    margin: 125px auto;
    width: 0;
    animation: rotate 2.5s infinite;
}

.arrow-up {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid rgb(0, 0, 0);
}

.arrow-down {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid rgb(106, 0, 0);
}

.arrow-right {
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid rgb(1, 55, 1);
}

.arrow-left {
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 50px solid rgb(0, 0, 96);
}

@keyframes rotate {
    0% {
        transform: rotate(90deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}