.triangles-container > div {
  height: 0;
  margin: 125px auto;
  width: 0;
  animation: rotate 2.5s infinite; }

.arrow-up {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid black; }

.arrow-down {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #6a0000; }

.arrow-right {
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #013701; }

.arrow-left {
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 50px solid #000060; }

@keyframes rotate {
  0% {
    transform: rotate(90deg); }
  25% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }
