.triangles-container > div {
  height: 0;
  margin: 125px auto;
  width: 0; }

.arrow-up {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid black; }

.arrow-down {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #f00; }

.arrow-right {
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid green; }

.arrow-left {
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 50px solid blue; }
