section {
	display: flex;
	justify-content: space-around;
	margin: 25px auto 0;
	width: 600px;
}

.five-pointed {
	margin: 50px 0;
	position: relative;
	display: block;
	color: #b00101c2;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #216821;
	border-left: 100px solid transparent;
	transform: rotate(35deg);
}

.five-pointed:before {
	border-bottom: 65px solid #d7ba14;
	border-left: 20px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -45px;
	left: -65px;
	display: block;
	content: "";
	transform: rotate(-35deg);
}

.five-pointed:after {
	position: absolute;
	display: block;
	color: #b50000c2;
	top: 6px;
	left: -109px;
	width: 0px;
	opacity: 0.5;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #b50000c2;
	border-left: 100px solid transparent;
	transform: rotate(-70deg);
	content: "";
}

.six-pointed:after {
	width: 0;
	height: 0;
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
	border-top: 140px solid #00008e;
	position: absolute;
	content: "";
	top: 30px;
	left: -90px;
}

.six-pointed {
	width: 0;
	height: 0;
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
	border-bottom: 140px solid #00008e;
	position: relative;
}

.six-pointed:after {
	width: 0;
	height: 0;
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
	border-top: 140px solid #00008e;
	position: absolute;
	content: "";
	top: 30px;
	left: -90px;
}